html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 10px;
}
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  font-family: "DM Sans", sans-serif;
  color: #000;
}
.logo {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 35px;
  line-height: 1.15;
}
.letter-s {
  color: hsl(36, 23%, 52%);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  align-items: center;
  margin-bottom: 16px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-left {
  display: flex;
  gap: 64px;
}
.menu-right {
  display: flex;
  gap: 39px;
}
.menu_link {
  line-height: 1.6875;
}
.menu-left:last-child {
  gap: 0px;
}
.separator {
  margin-left: -20px;
  margin-right: 48px;
  font-size: 1.5em;
  line-height: 1;
}
.promo {
  margin-top: 226px;
  margin-left: 39px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}
.text {
  color: #fff;
}
.promo-title {
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 16px;
}
.promo-price {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 48px;
}
.promo-btn {
  padding: 14px 32px;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 700;
}
.swiper-slide {
  height: 100vh;
}
.swip-img {
  display: block;
  margin: 0 auto;
  height: 646px;
  width: 1270px;
}
.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 11px !important;
  height: 11px !important;
}
.swiper-pagination-bullet-active {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  width: 15px !important;
  height: 15px !important;
}
.shop {
  padding-top: 64px;
  margin-bottom: 250px;
}
.shop-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-title {
  font-size: 33px;
  font-weight: 500;
  padding-bottom: 39px;
}
.shop-link {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: #a18a68;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}
.card {
  position: relative;
}
.shop-img {
  display: block;
}
.toCart {
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 66.8%;
  width: 100%;
  text-align: center;
  color: #000;
  padding: 22px 127px;
  border-radius: 4px 4px 0px 0px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.shop-img:hover + .toCart,
.toCart:hover {
  opacity: 1;
}
.shop-img:hover {
  opacity: 0.7;
}

.shop-text {
  font-size: 20px;
  padding-top: 24px;
  margin-bottom: 16px;
}
.shop-price {
  font-size: 20px;
  font-weight: 500;
  color: #a18a68;
}
.copyright {
  line-height: 1.7;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #707070;
}
.footer-menu-list {
  display: flex;
  justify-content: space-between;
  gap: 41px;
  margin-bottom: 50px;
}
.footer__inner {
  border-top: 1px solid #d8d8d8;
  padding-top: 40px;
  padding-bottom: 90px;
}
.footer-menu-socials {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-input {
  border: none;
  margin-right: auto;
  margin-right: 158px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
}
.form {
  display: flex;
  align-items: center;
  flex-basis: 400px;
  margin-bottom: 50px;
  border-bottom: 1px solid #000;
  padding-bottom: 13px;
}
.footer-arrow {
  margin-left: auto;
}

input::placeholder {
  font-size: 16px;
  line-height: 27;
}
.menu-link:hover,
.footer-menu-list-link:hover,
.footer-menu-icon:hover,
.submit:hover,
.shop-link:hover,
.promo-btn:hover {
  opacity: 0.5;
}
button {
  border: none;
  cursor: pointer;
}
